<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Revolutio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Revolutio.Properties.Settings>
            <setting name="txtbx_chainring_min" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="txtbx_chainring_max" serializeAs="String">
                <value>42</value>
            </setting>
            <setting name="txtbx_cog_min" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="txtbx_cog_max" serializeAs="String">
                <value>28</value>
            </setting>
            <setting name="cmbpbx_tyre_size" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="chkbx_1plus" serializeAs="String">
                <value>False</value>
            </setting>
        </Revolutio.Properties.Settings>
    </userSettings>
</configuration>